.board-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.board-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.board-canvas {
  position: relative;
  flex-grow: 1;
}

.board-lists {
  display: flex;
  padding-right: $px8;
}

#board {
  user-select: none;
  margin-bottom: $px6;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: $px6;
  padding-bottom: $px6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  hyphens: auto;
}

.board-header {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

@each $name, $color in $colors-map {
  &.#{$name} .board-header {
    background-color: lighten($color, 10%);
  }
}

.board-header-left {

}

.board-header-right {
  display: flex;
  align-items: center;
}

.board-title {
  border-radius: 0.25rem;
  border: 1px solid white;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: $px4;
  padding: 0.375rem 0.75rem;
  white-space: pre;
  box-sizing: border-box;

  &:hover {
    text-decoration: none;
    background-color: rgba(9,30,66,.08);
  }
}

.board-admin {

}

.board-form-composer {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.board-title-hidden,
.board-title-edit {
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  box-sizing: border-box;
  color: #495057;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  white-space: pre;
  width: auto;

  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #495057;
    outline: 0;
  }
}

.board-title-hidden {
  z-index: -10;
  opacity: 0;
  position: absolute;
}

.board-history {
  margin-top: 1rem;
}
