.issues {
  white-space: normal;

  margin-top: $px12;
  h2 {
    color: #172b4d;
    margin: 0.25rem 0.25rem 0.5rem 0.25rem;
    font-weight: 200;
  }
}

.issues-issue {
  font-size: 0.80rem;
  line-height: 1.25rem;
  color: #172b4d;
  background-color: white;
  border-radius: $px3;
  padding: 0.50rem;
  margin: 0.25rem 0;
  box-shadow: 0 $px1 0 rgba(9,30,66,.25);
}

.issue-author {
  font-weight: bold;
}

.issue-date {
  color: #5e6c84;
  font-size: $px12;
  margin-top: 0.50rem;
}

.issue-footer {
  margin-top: 0.5rem;
}
