.issues {
  background-color: rgba(248, 241, 251, 0.7);
  border-radius: $px3;
  box-shadow: -$px1 $px1 $px3 rgba(95, 95, 95, 0.5), inset -$px3 $px3 $px5 -$px5 rgba(0,0,0,1);

  margin: 3rem 0.5rem 0.5rem 0.5rem;
  width: 16.875rem;
  padding: 0.5rem;
  white-space: normal;

  h2 {
    color: #172b4d;
    margin: 0.25rem 0.25rem 0.5rem 0.25rem;
    font-weight: 200;
  }
}

.issues-issue {
  font-size: 0.80rem;
  line-height: 1.25rem;
  color: #172b4d;
  background-color: white;
  border-radius: $px3;
  padding: 0.50rem;
  margin: 0.25rem 0;
  box-shadow: 0 $px1 0 rgba(9,30,66,.25);
}

.issue-author {
  font-weight: bold;
}

.issue-date {
  color: #5e6c84;
  font-size: $px12;
  margin-top: 0.50rem;
}

.issue-footer {
  margin-top: 0.5rem;
}

.issue-control {
  text-decoration: none;
  color: #5e6c84;
  border-radius: $px3;
  display: block;
  flex: 1 0 auto;
  padding: 4px 8px;
  &:hover {
    text-decoration: none;
    background-color: rgba(9,30,66,.08);
    color: #172b4d;
  }
}