$list-background-color: #ebecf0;

.list {
  min-width: 270px;
  width: 270px;
  margin: 0 $px4;
  height: 100%;

  &:first-child {
    margin-left: 0;
  }

  // support for different border colors in input fields
  @each $name, $color in $colors-map {
    &.#{$name} .list-content {
      background-color: lighten($color, 50%);
    }
  }
}

.list-content {
  background-color: $list-background-color;
  border-radius: $px3;
  display: flex;
  flex-direction: column;
  min-height: 6.25rem;
  max-height: 100%;

  .header {
    padding: $px10 $px8 0 $px8;
    min-height: 1.25rem;
    display: flex;
    align-items: center;
  }

  .subheader {
    padding: 0 $px8 $px10 $px8;
    font-size: 0.75rem;
    color: #666;
  }

  h2 {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 400;
  }

}

.list-footer {
  padding: $px10 $px8;
  min-height: 1.25rem;
}

// placeholder in case of dragging
.list-placeholder .list-content {
  background-color: rgba( $list-background-color, .7 );
}
.list-placeholder .list-footer,
.list-placeholder .list-cards,
.list-placeholder .header,
.list-placeholder .subheader {
  opacity: 0;
}

// support for different list-placeholder background colors:
@each $name, $color in $colors-map {
  .#{$name}.list-placeholder .list-content {
    background-color: rgba(lighten($color, 50%), .7 );
  }
}

// ghost list is dragging
.list-dragging {
  opacity: 1 !important;
}

.list-drag-handle {
  cursor: pointer;
  -webkit-touch-callout: none;
  user-select: none;
  display: flex;
  justify-content: space-between;
}

.list-composer-form {
  display: flex;
  flex-direction: column;
}

.list-composer-input {
  display: block;
  margin: 0 0 $px6 0;
}

// support for different border colors in input fields
@each $name, $color in $colors-map {
  &.#{$name} .list-composer-input {
    border: 1px solid $color;
  }
}


.list-composer-new-list {
  text-decoration: none;
  padding: $px8;
  color: white;
}

.list-composer-idle,
.list-composer {

  color: white;
  background-color: #ebecf0;
  border-radius: $px3;
  border: 1px solid white;
  cursor: pointer;
  min-width: 270px;
  width: 270px;
  margin: 0 $px8 0 $px4;
  padding: $px6;
  display: flex;

  a {
    color: white;
  }

  .list-composer-form {
    width: 100%;
  }
}

.list-composer-idle {
  background-color: hsla(0,0%,100%,.24);

  &:hover {
    background-color: hsla(0,0%,100%,.32);
  }
}

.list-preview {

  a {
    text-decoration: none;
    display: block;
  }
}
