@import "css/common/start";
@import "css/common/page";

.layout {

  display: flex;
  justify-content: center;

  .content {
    margin-top: 5rem;
    width: 386px;

    h1 {
      color: white;
      font-weight: 200;
      font-size: 2rem;
    }

    h2 {
      margin-top: 12px;
    }
  }
}

.form-border {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid white;
  border-radius: 3px;
  padding: 6px;

  h1, h2, h3, h4, h5, h6 {
    color: white;
  }

  input {
    margin-bottom: 6px;
    width: 100%;
  }
}
