@import "css/common/start";
@import "css/common/page";

.new-board {
  margin-top: 5rem;
  width: 24.125rem;

  h1 {
    color: white;
    font-weight: 200;
    font-size: 2rem;
  }

  h2 {
    margin-top: $px12;
  }
}

.new-board-form {

  margin-top: $px6;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .composer-input {
    width: 50%;
  }

  .controls {
    margin-top: $px6;
  }

}

.form-border {
  background-color: rgba(255, 255, 255, 0.15);
  border: $px1 solid white;
  border-radius: $px3;
  padding: $px6;

  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
}

.board-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.board-color {

  border-radius: $px3;
  border: $px1 solid white;
  cursor: pointer;
  height: 1.25rem;
  margin-right: $px6;
  width: 1.25rem;

  &:last-child {
    margin-right: 0;
  }

  @each $name, $color in $colors-map {
    &.#{$name} {
      background-color: $color;
      &:hover {
        background-color: lighten($color, 10%);
      }
    }
  }
}

.is-active {
  box-shadow: inset 0 0 0.625rem 0 rgb(255, 255, 255);
}


