<a href="#" class="card"  id="card-<%= id(@card._id) %>" draggable="false" data-id="<%= id(@card._id) %>">
  <div class="card--details">
    <div class="card--title">
      <span><%= @card.title%></span>
    </div>
  </div>
</a>
