<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Vega" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/common.css") %>"/>
    <%= for css <- assigns[:css] || [] do %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/" <> css <> ".css") %>"/>
    <% end %>
    <%= csrf_meta_tag() %>
  </head>
  <body class="<%= body_class(assigns[:body_class]) %>">
    <header>
    </header>
    <main>
      <%= @inner_content %>
    </main>
    <footer>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/common.js") %>"></script>
    <%= for js <- assigns[:js] || [] do %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/" <> js <> ".js") %>"></script>
    <% end %>
  </body>
</html>
