@import "colors";
$new-board-color: rgba(206, 206, 206, 0.15);

.boards--groups {
  display: flex;
  flex-direction: column;
}

.boards--group {

  margin-top: 2rem;

  h2 {
    color: white;
    font-weight: 200;
    font-size: 1rem;
  }

  .boards {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;

  }
}

.board {

  cursor: pointer;
  text-decoration: none;
  width: 180px;
  height: 80px;
  background-color: $default-color;
  border-radius: 3px;
  border: 1px solid white;
  padding: 6px;
  margin-bottom: 6px;
  margin-right: 6px;

  h3 {
    color: white;
    font-weight: 200;
    font-size: 0.875rem;
  }

  &:hover {
    background-color: lighten($default-color, 10%);
    text-decoration: none;
  }
}

.board.background__red {
  background-color: $board-color-red;
  &:hover {
    background-color: lighten($board-color-red, 10%);
    text-decoration: none;
  }
}

.board.background__green {
  background-color: $board-color-green;
  &:hover {
    background-color: lighten($board-color-green, 10%);
    text-decoration: none;
  }
}

.board.background__blue {
  background-color: $board-color-blue;
  &:hover {
    background-color: lighten($board-color-blue, 10%);
    text-decoration: none;
  }
}

.board.background__orange {
  background-color: $board-color-orange;
  &:hover {
    background-color: lighten($board-color-orange, 10%);
    text-decoration: none;
  }
}

.board.background__purple {
  background-color: $board-color-purple;
  &:hover {
    background-color: lighten($board-color-purple, 10%);
    text-decoration: none;
  }
}

.board.background__pink {
  background-color: $board-color-pink;
  &:hover {
    background-color: lighten($board-color-pink, 10%);
    text-decoration: none;
  }
}

.board__new {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  &:hover {
    background-color: lighten($new-board-color, 10%);
  }
}

