/**
 * list--cards, cards and composer
 */
$list-background-color:  #ebecf0;

.card--composer,        // composer area for creating new cards
.list--cards {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  padding: 0 4px;
  min-height: 0;
}

.card--composer {
  margin-bottom: 8px;
}

.card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  text-decoration: none;
  -webkit-touch-callout: none;
  user-select: none;
}

.card--details {
  overflow: hidden;
  padding: 6px 8px 2px;
}

.card--title {
  display: block;
  margin: 0 0 4px;
  overflow: hidden;
  word-wrap: break-word;
  color: #172b4d;
}


// composer for creating a new card
.card--composer-textarea,
.card--composer-textarea:focus {
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  height: 60px;
  background: none;
  border: none;
  box-shadow: none;
  margin-bottom: 4px;
  max-height: 162px;
  min-height: 54px;
  overflow-y: auto;
  padding: 0;
  width: 100%;
}


// ghost card is dragging
.card__dragging {
  opacity: 1 !important;
}

// placeholder in case of dragging
.card--placeholder  {
  background-color: darken($list-background-color, 10%);
}

.card--placeholder .card--details {
  opacity: 0;
}