$default-color: darkcyan;

$board-color-default: darkcyan;
$board-color-pink: #FC66FE;
$board-color-green: #90c363;
$board-color-red: #e16362;
$board-color-blue: #64afe1;
$board-color-purple: #8000FE;
$board-color-orange: #FC8008;

.background__red {
  background-color: $board-color-red;
}

.background__green {
  background-color: $board-color-green;
}

.background__blue {
  background-color: $board-color-blue;
}

.background__orange {
  background-color: $board-color-orange;
}

.background__purple {
  background-color: $board-color-purple;
}

.background__pink {
  background-color: $board-color-pink;
}
