textarea:focus,
input:focus{
  outline: none;
}

input,
textarea {
  -webkit-appearance: none;
  background-color: #fafbfc;
  border-radius: 3px;
  border: 1px solid #dfe1e6;
  color: #172b4d;
  display: block;
  line-height: 20px;
  padding: 8px 12px;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
  font-size: 0.75rem;
}

.submit {
  -webkit-appearance: none;
  background-color: #fafbfc;
  background-color: rgba(9,30,66,.04);
  border-radius: 3px;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 1px 0;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
  font-size: 0.75rem;

  &:hover {
    text-decoration: none;
    background-color: rgba(9, 30, 66, 0.2);
  }
}

.submit__border {
  border: 1px solid #dfe1e6;
}

.submit__shadow-box {
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
}

.submit__next {
  margin-right: 4px;
}

.submit__primary {
  background-color: #5aac44;
  color: white;
  &:hover {
    background-color: lighten(#5aac44, 10%);
  }
}

.submit__cancel {
  background-color: #ac1920;
  color: white;
  &:hover {
    background-color: lighten(#ac1920, 10%);
  }
}

