$list-background-color: #ebecf0;

.list {
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  flex: 0 0 272px;
  height: 100%;
  margin: 0 4px;

  &:first-child {
    margin-left: 8px;
  }
}

.list--content {
  background-color: $list-background-color;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  max-height: 100%;

  .header {
    flex: 0 0 auto;
    padding: 10px 8px;
    min-height: 20px;
  }

  h2 {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 400;
  }

}

.list--footer {
  padding: 10px 8px;
  min-height: 20px;
}

.list--control {
  text-decoration: none;
  color: #5e6c84;
  border-radius: 3px;
  display: block;
  flex: 1 0 auto;
  padding: 4px 8px;
  &:hover {
    text-decoration: none;
    background-color: rgba(9,30,66,.08);
    color: #172b4d;
  }
}

// placeholder in case of dragging
.list--placeholder  {
  background-color: darken($list-background-color, 10%);
}
.list--placeholder .list--content {
  opacity: 0;
}

// ghost list is dragging
.list__dragging {
  opacity: 1 !important;
  background-color: rgba(255, 255, 255, 0.47);
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.75);
}

.list--drag-handle {
  cursor: pointer;
  -webkit-touch-callout: none;
  user-select: none;
}

.list--composer--form {
  display: flex;
  flex-direction: column;
}

.list--composer-input {
  display: block;
  margin: 0 0 4px 0;
}

.list--composer--new-list {
  text-decoration: none;
  padding: 8px;
  color: white;
}

.list--composer {

  background-color: #ebecf0;
  border-radius: 3px;
  border: 1px solid white;
  cursor: pointer;
  flex: 0 0 272px;
  height: 100%;
  margin: 0 8px 0 4px;
  min-height: 32px;
  padding: 4px;
  display: flex;

  .list--composer--new-list {
    display: none;
  }

  .list--composer--form {
    width: 100%;
  }

  &.is-idle {

    max-height: 20px;
    background-color: hsla(0,0%,100%,.24);

    .list--composer--form {
      display: none;
    }

    .list--composer--new-list {
      display: block;
    }

    .list--composer-input {
      display: none;
    }

    .composer--controls {
      display: none;
    }

    &:hover {
      background-color: hsla(0,0%,100%,.32);
    }
  }

}


