.invisible {
  opacity: 0;
}

.d-block {
  display: block;
}

.y-scrollbar {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.6875rem;
  }

  scrollbar-width: thin;
  scrollbar-color: #90A4AE #CFD8DC;

  &::-webkit-scrollbar-track {
    background: #CFD8DC;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #90A4AE;
    border-radius: 6px;
    border: 3px solid #CFD8DC;
  }
}

// support for different list-placeholder background colors:
@each $name, $color in $colors-map {
  .list.#{$name} {

    .y-scrollbar {

      scrollbar-color: lighten($color, 35%) lighten($color, 80%);

      &::-webkit-scrollbar-track {
        background: lighten($color, 80%);
      }
      &::-webkit-scrollbar-thumb {
        background-color: lighten($color, 35%) ;
        border: 3px solid lighten($color, 80%);
      }
    }

  }
}



.x-scrollbar {
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 0.6875rem;
  }

  scrollbar-width: thin;
  scrollbar-color: #90A4AE #CFD8DC;

  &::-webkit-scrollbar-track {
    background: #CFD8DC;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #90A4AE;
    border-radius: 6px;
    border: 3px solid #CFD8DC;
  }

}

// support for different list-placeholder background colors:
@each $name, $color in $colors-map {
  .#{$name} {

    .x-scrollbar {

      scrollbar-color: lighten($color, 35%) lighten($color, 80%);

      &::-webkit-scrollbar-track {
        background: lighten($color, 80%);
      }
      &::-webkit-scrollbar-thumb {
        background-color: lighten($color, 35%) ;
        border: 3px solid lighten($color, 80%);
      }
    }

  }
}

.pos-relative {
  position: relative;
}

.small {
  font-size: 70%;
}

.text-muted {
  color: #666;
}

.window-overlay {
  background-color: rgba(0,0,0,.64);
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
